# compiled output
/dist
/tmp
/out-tsc

# dependencies
/angular-client/node_modules
/express-server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
npm-debug.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
