<div class="classifier-execution">

  <h2 class="lead">Testing Classifier Data</h2>
  <hr>

  <section class="row">

    <div class="col-md-8">
      <div class="card-title">Accuracy test</div>
      <div class="clp-card-white">
        <button type="button" class="btn btn-default btn-lg" (click)="executeTest()">Test accuracy</button>

        <div class="boxes-wrapper">
          <div class="spec-box blue-b">
            <div>Test set size</div>
            <div class="spec-result">{{analysisResult?.testSetSize || "--"}}</div>
          </div>

          <div class="spec-box orange-b">
            <div>Wrong predictions</div>
            <div class="spec-result">{{analysisResult?.wrongPredictions || "--"}}</div>
          </div>

          <div class="spec-box green-b">
            <div>Success rate</div>
            <div class="spec-result">{{analysisResult?.successRate}} %</div>
          </div>
        </div>
      </div>

      <div class="card-title">Type prediction test</div>
      <div class="clp-card-white">

        <form #predictForm="ngForm" class="clp-default-form" novalidate>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="PFbuying">Buying price</label>
              <select name="PFbuying" id="PFbuying" class="form-control"
                      [(ngModel)]="predictionModel.buying" required>
                <option value="0">0 - low</option>
                <option value="5">5 - med</option>
                <option value="10">10 - high</option>
                <option value="15">15 - vhigh</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PFmaint">Maintenance price</label>
              <select name="PFmaint" id="PFmaint" class="form-control"
                      [(ngModel)]="predictionModel.maint" required>
                <option value="0">0 - low</option>
                <option value="5">5 - med</option>
                <option value="10">10 - high</option>
                <option value="15">15 - vhigh</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PFdoors">Nº of doors</label>
              <select name="PFdoors" id="PFdoors" class="form-control"
                      [(ngModel)]="predictionModel.doors" required>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="PFpersons">Capacity (people)</label>
              <select name="PFpersons" id="PFpersons" class="form-control"
                      [(ngModel)]="predictionModel.persons" required>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="5">5+</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PFlug_boot">Luggage Boot size</label>
              <select name="PFlug_boot" id="PFlug_boot" class="form-control"
                      [(ngModel)]="predictionModel.lug_boot" required>
                <option value="0">0 - small</option>
                <option value="5">5 - med</option>
                <option value="10">10 - big</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PFsafety">Safety Level</label>
              <select name="PFsafety" id="PFsafety" class="form-control"
                      [(ngModel)]="predictionModel.safety" required>
                <option value="0">0 - low</option>
                <option value="5">5 - med</option>
                <option value="10">10 - high</option>
              </select>
            </div>
          </div>
        </form>

        <div class="result-section">
          <button type="button"
                  class="btn btn-default btn-lg"
                  (click)="submitPredictionForm()"
                  [disabled]="!predictForm.form.valid">
            Predict type
          </button>
          <div class="prediction-result" [ngClass]="{'active': predictionResult}">{{predictionResult}}</div>
        </div>

      </div>
    </div>

    <div class="col-md-4 desc-section">
      <div class="card-title">Dataset Information</div>
      <div class="clp-card-white">
        The model evaluates cars according to the following concept structure:
        <div class="list-title">Goal - Car acceptability</div>
        <ul>
          <li>unacc: Unacceptable</li>
          <li>acc: Acceptable</li>
          <li>good: Good</li>
          <li>vgood: Very Good</li>
        </ul>

        <div class="list-title">Variables</div>
        <ul>
          <li>buying: Buying price</li>
          <li>maint: Maintenance price</li>
          <li>doors: Number of doors</li>
          <li>people: Capacity (people)</li>
          <li>lug_boot: Luggage Boot size</li>
          <li>safety: Safety Level</li>
        </ul>
      </div>
      <div class="card-title">Attribute Information:</div>
      <div class="clp-card-white">
        <div class="list-title">Class Values:</div>
        <ul>
          <li>type: unacc, acc, good, vgood</li>
        </ul>

        <div class="list-title">Attributes:</div>
        <ul>
          <li>buying: vhigh, high, med, low.</li>
          <li>maint: vhigh, high, med, low.</li>
          <li>doors: 2, 3, 4, 5more.</li>
          <li>persons: 2, 4, more.</li>
          <li>lug_boot: small, med, big.</li>
          <li>safety: low, med, high.</li>
        </ul>
      </div>
    </div>
  </section>


</div>

